/* Tailwind style compositional css */

.container {
  max-width: 1200px;
  margin-inline: auto;

  padding: 1rem;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.grid {
  display: grid;
}

.block {
  display: block;
}
