@import url("./container.css");
@import url("./spacing.css");

* {
  box-sizing: border-box;
}

:root {
  --primary-font: "Courier New", Courier, monospace;

  /* Customizable colors */
  --clr-primary: hsl(0, 0%, 90%);
  --clr-dark: hsl(0, 0%, 10%);
  --clr-light: hsl(0, 0%, 90%);
  --clr-gray-500: hsl(0, 0%, 50%);
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--primary-font);
  position: relative;
}

button {
  display: inline-block;
  cursor: pointer;
}

input,
textarea,
button {
  font-family: inherit;
}

/* Button */

.btn {
  display: inline-block;
  width: 100%;
  border: 1px solid var(--clr-dark);
  border-radius: 3px;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
}

.btn-active {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  color: var(--clr-light);

  background-color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: grid;
  place-items: center;

  background-color: hsla(0, 0%, 0%, 30%);
}
