<script setup lang="ts">
import FavoriteToggle from '../../../features/users/FavoriteToggle.vue';

type UserT = {
  id: number;
  favourite: boolean;
  name: string;
  age: number;
  phone: string;
  image: string;
};

const props = defineProps<UserT>()

</script>

<template>
  <div class="row flex items-center gap-1 justify-between">
    <img class="row-img">
    <div class="name">{{ props.name }}</div>
    <div class="age">{{ props.age }} years old</div>
    <div class="phone">{{ props.phone }}</div>
    <FavoriteToggle :id="props.id" />
  </div>
</template>

<style scoped>
.row {
  padding-block: 3px;
}

.row-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
}
</style>