<script setup lang="ts">
import FavoriteToggle from '../../../features/users/FavoriteToggle.vue';
import boy from '../../../shared/assets/videos/boy.mp4'

type UserT = {
  id: number;
  favourite: boolean;
  name: string;
  age: number;
  phone: string;
  image: string;
  phrase: string;
  video?: string;
};

const props = defineProps<UserT>()
</script>

<template>
  <div class="card flex-column gap-1">
    <div class="flex profile items-center gap-1">
      <img class="profile-img" />
      <div class="profile-name flex-1">{{ props.name }}</div>
      <FavoriteToggle :id="props.id" />
    </div>
    <div class="age">{{ props.age }} years old</div>
    <div class="phone">{{ props.phone }}</div>
    <div class="description">{{ props.phrase }}</div>

    <!-- NOTE: Api doesn't provide a link so its hard-coded for now -->
    <div v-if="props.video">
      <video class="video" controls>
        <source :src="boy" type="video/mp4">
      </video>
    </div>
  </div>
</template>

<style>
.card {
  min-height: 300px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  padding: 15px;
}

.video {
  width: 100%;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
}

.age {
  color: var(--clr-gray-500);
}
</style>