<script setup lang="ts">
import { useStore } from 'vuex';

import UserFilter from '../features/users/UserFilter.vue'
import ViewToggle from '../features/users/ViewToggle.vue'
import UserRow from '../entities/users/ui/UserRow.vue';
import UserCard from '../entities/users/ui/UserCard.vue';
import { onMounted, computed } from 'vue';

const store = useStore()

const view = computed(() => store.state.user.view)
const len = computed(() => store.state.user.users.length)
const loading = computed(() => store.state.user.loading)

onMounted(() => {
  store.dispatch('fetchusers')
})

</script>

<template>
  <!-- Loading overlay -->
  <div v-if="loading" class="overlay">loading...</div>

  <!-- Empty -->
  <div v-if="!len">Empty</div>

  <div class="container">
    <!-- Filters -->
    <div class="flex gap-1">
      <UserFilter />
      <ViewToggle />
    </div>

    <!-- Card view -->

    <mark class="block my-1">NOTE: Design on template breaks the sorting order of elements, that's why this design may
      not
      fully
      correspond
      to design</mark>
    <div v-if="view == 'card'" class="grid preview">
      <div v-for="user in store.getters.filteredUsers">
        <UserCard v-bind="user" />
      </div>
    </div>

    <!-- Table view -->
    <div v-if="view == 'table'">
      <div v-for="user in store.getters.filteredUsers">
        <UserRow v-bind="user" />
      </div>
    </div>
  </div>
</template>

<style scoped>
.preview {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media only screen and (max-width: 540px) {
  .preview {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
</style>