<script setup lang="ts">
import { computed } from 'vue'
import { useStore } from 'vuex';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { faStar } from '@fortawesome/free-solid-svg-icons'

type FavouriveToggleT = {
  id: number
}

defineProps<FavouriveToggleT>()

const store = useStore()
const users = computed(() => store.state.user.users)
</script>

<template>
  <FontAwesomeIcon @click="store.commit('toggleFavorite', $props.id)" :icon="faStar"
    :class="users.find(u => u.id == $props.id).favourite ? 'regular' : 'icon'" />
</template>

<style>
.regular {
  cursor: pointer;
  color: hsla(0, 0%, 0%, 100%);
}

.icon {
  cursor: pointer;
  color: hsla(0, 0%, 0%, 30%);
}
</style>