<script setup lang="ts">
import { computed } from 'vue'
import { useStore } from 'vuex'
const store = useStore()

const sort = computed(() => store.state.user.filters.sort)
const order = computed(() => store.state.user.filters.sort)

</script>

<template>
  <div class="w-full flex-column gap-1 my-1">
    Sorting
    <div class="flex gap-1">
      <button @click="store.commit('setsort', 'id')" :class="`btn ${sort == 'id' && 'btn-active'}`">ID</button>
      <button @click="store.commit('setsort', 'name')" :class="`btn ${sort == 'name' && 'btn-active'}`">Name</button>
      <button @click="store.commit('setsort', 'age')" :class="`btn ${sort == 'age' && 'btn-active'}`">Age</button>
    </div>

    <div class="flex gap-1">
      <button @click="store.commit('setorder', 'asc')" :class="`btn ${order == 'asc' && 'btn-active'}`">Ascending</button>
      <button @click="store.commit('setorder', 'desc')" :class="`btn ${order == 'desc' && 'btn-active'}`">Desc</button>
    </div>
  </div>
</template>

<style scoped></style>