<script setup lang="ts">
import { computed } from 'vue'
import { useStore } from 'vuex'

const store = useStore()

const view = computed(() => store.state.user.view)

</script>

<template>
  <div class="w-full flex-column gap-1 my-1">
    View
    <div class="flex gap-1">
      <button :class="`btn ${view == 'table' && 'btn-active'}`" @click="store.commit('setview', 'table')">Table</button>
      <button :class="`btn ${view == 'card' && 'btn-active'}`" @click="store.commit('setview', 'card')">Preview</button>
    </div>
  </div>
</template>

<style scoped></style>